/* Home */

.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.home-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
}

.home-order {
  position: relative;
  height: 150px;
  flex-basis: 49%;
  text-align: center;
  background-image: url('../../images/home/pizza-1.jpg');
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
}

.home-order-title {
  position: absolute;
  text-align: center;
  margin: 0;
  font-size: 24px;
  color: $color-light;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.home-order-subtitle {
  opacity: 0;
  top: 50%;
  transform: translateY(60%);
  position: absolute;
  width: 100%;
  color: $color-light;
}

.home-order:hover > .home-order-title {
  transition: .3s ease-in;
  transform: translateY(-90%);
}

.home-order:hover > .home-order-subtitle {
  opacity: 1;
  transition: .3s ease-in;
  transform: translateY(10%);
}

.home-booking {
  position: relative;
  height: 150px;
  flex-basis: 49%;
  text-align: center;
  object-fit: cover;
  background-image: url('../../images/home/pizza-2.jpg');
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
}

.home-booking-title {
  position: absolute;
  text-align: center;
  margin: 0;
  font-size: 24px;
  color: $color-light;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.home-opening-hours {
  position: relative;
  height: 130px;
  flex-basis: 100%;
  margin: 10px 0 10px 0;
  background: $color-main;
  color: $color-light;
  text-align: center;
  border-radius: 5px;
}

.home-opening-hours-title {
  margin: 0;
  width: 100%;
  position: absolute;
  font-size: 24px;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-80%);
}

.home-opening-hours-subtitle {
  position: absolute;
  top: 50%;
  transform: translateY(20%);
  margin: 0;
  width: 100%;
  text-transform: uppercase;
}

/* Carousel */

.main-carousel {
  margin: 80px 0;
  height: 200px;
}

.carousel-cell {
  display: flex;
  width: 100%;
}

.carousel-image {
  height: 200px;
  width: 200px;
  margin-right: 20px;
  border-radius: 5px;
  object-fit: cover;
}

.carousel-title {
  text-transform: uppercase;
}

.carousel-author {
  font-style: italic;
}

/* Gallery */

.gallery-row {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
}

.box {
  flex-basis: 33%;
  border-radius: 5px;
  transition: .3s;
}

.gallery-image-1 {
  background-image: url(../../images/home/pizza-4.jpg);
  background-size: cover;
 }

.gallery-image-2 {
  background-image: url(../../images/home/pizza-5.jpg);
  background-size: cover;

}

.gallery-image-3 {
  background-image: url(../../images/home/pizza-6.jpg);
  background-size: cover;
}

.gallery-image-4 {
  background-image: url(../../images/home/pizza-7.jpg);
  background-size: cover;
}

.gallery-image-5 {
  background-image: url(../../images/home/pizza-8.jpg);
  background-size: cover;

}

.gallery-image-6 {
  background-image: url(../../images/home/pizza-9.jpg);
  background-size: cover;
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  i {
    line-height: 150px;
    color: $color-light;
    font-size: 20px;
    padding: 0 5px;
  }

  i:hover {
    color: $color-main;
  }
}

.box:hover > .overlay {
  display: block;
  cursor: pointer;
}

.link {
  color: $color-main;
  }




